html {
  background-color: #6f7a53;
}
.container {
  max-width: 800px;
  border: 2px solid white;
}

.header {
  text-align: Center;
  color: #dab457;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
h1,
h2,
h3 {
  text-align: center;
  color: #3a5154;
}
/* .navigation{
  height: 15px;
  background-color: #dab457; */
}
/*for all of the navigation bar as a whole */
.navigation ul {
  list-style-type: none;
  padding: 10px;
  font-size: 30px;
  margin-left: 100px;
  font-size: 40px;
  text-align: center;
  background-color: #bc7d7b;
}
/* controls links */
.navigation li {
  display: block;
  width: 0px;

}
.navigation a {
  color: #bc7b7d;
  text-decoration: none;
}
li a.active {
  background-color: #bc7b7d;
  color: #6f7a53;
}
li a:hover:not(.active) {
  background-color: #bc7b7d;
  color: #dab457;
}
#welcome{
transform: rotate(90deg);
}
img.profile{
border:4px solid #bc7b7d;
display: block;
margin-left: auto;
margin-right: auto;
  width:50%;
  height: 400px;

}


.resume {
  border: 5px solid #bc7b7d;
  width: 300px;

}
.resume:hover {
  box-shadow: 0 0 2px 1px #dab457;
}
h1{
  color: #dab457;
  font-size:50px;
}
.grid-container{
  display: grid;
grid-template-columns: auto auto ;
background-color:white;
padding:10px;
}
.grid-item2{
  border-right: 2px solid #bc7b7d;
  padding:20px;
  font-size: 30px;
  text-align: center;
}
.grid-item{
  background-color: #bc7b7d;
  border-left: 2px solid #bc7b7d;
  padding: 20px;
  font-size: 30px;
  text-align: right;

}
