html {
  background-color: #6f7a53;
}
.container {
  max-width: 800px;
  border: 2px solid white;
}

.header {
  border: 3px solid #e9cece;
  background-color: white;
  text-align: Center;
  color: #dab457;
  font-size: 4em;
  margin-left: 20px;
  margin-right: 20px;
}
h1,
h2,
h3 {
  text-align: center;
  color: #3a5154;
}
/*for the navigation bar  */
/* .navigation {
  height: 50px;
  background-color: #dab457; */
}
/*for all of the navigation bar as a whole */
.navigation ul {
  list-style-type: none;
  padding: 10px;
  font-size: 30px;
  margin-left: 100px;
  font-size: 40px;
  text-align: center;
}
/* controls links */
.navigation li {
  display: inline;
  padding: 20px;
}
.navigation a {
  color: #bc7b7d;
  text-decoration: none;
}
li a.active {
  background-color: #bc7b7d;
  color: #6f7a53;
}
li a:hover:not(.active) {
  background-color: #bc7b7d;
  color: #dab457;
}

#experience {
  border: 3px solid #cfb1b3;
  margin-top: 300px;
}
h1 {
  color: #bc7b7d;
}

.resume {
  border: 5px solid #bc7b7d;
  width: 300px;
}
.resume:hover {
  box-shadow: 0 0 2px 1px #dab457;
}
